

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: url("usethis.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
   background-position: center center;
   background-attachment: fixed;
  
}

.navConStyle {
  display: flex;
 border: 3px red solid;
  background-color: white;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  opacity: 0.8;

 }

 .navStyle{
  
  padding: 15px 5px;

font-size: 20px;
 }

.containerStyle {

  display: none;
}


  .info3 {
    text-align: center;
   color: #ffc600;
    padding: 70px 0;
}

.info4 {
    text-align: center;
    color: #ffc600;
    padding: 70px 0;
}


.containerStyle.open {
  display: block;
  }